{
    "enabled": true,
    "probability": 0.1,
    "blacklist_groups": [],
    "blacklist_users": [],
    "protect_private_msgs": true,
    "min_msg_length": 5,
    "max_msg_length": 10000,  #太短会导致其他插件输出的结果被截断，看需求设置
    "trigger_keywords": [],
    "use_keyword_plugin": false,
    "excluded_keywords": []
} 